.addProduct{
    &__input{
        margin-top: 2.5rem;
    }
}
.addProduct-container{
    display: flex;
    
    height: 100%;
}
.container-left{
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    
}
.container-right{
    display: flex;
    flex-direction: column;
}
.addProduct-btn{
    padding-top: 5.5rem;
}

