.carousel {
  h3 {
    font-family: "Epilogue", sans-serif;
    letter-spacing: 0.000000001rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1px;
  }
}

.itemCarousel {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;

  &__container {
    border-radius: 15px 15px 15px 15px;
    // border: black solid 1px;
    height: 22.5rem;
    background-color: rgb(230, 230, 230);
    width: 13rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 0px rgb(255, 255, 255), 0.1em 0.5em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container__image {
    img {
      object-fit: cover;
      border-radius: 15px 15px 0px 0px;
      height: 15rem;
      width: 13rem;
      transition: opacity 200ms ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .information {
    height: 4rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 13rem;
    font-size: 0.9rem;
    padding-bottom: 1.5rem;
    margin: 1px;
    h4 {
      height: 0.5rem;
      color: $ligthDark;
      font-weight: 600;
      display: block;
      font-size: medium;
    }
    b {
      color: $ligthDark;
    }
  }

  .container__button {
    display: flex;
    justify-content: center;
  }

  .button {
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 500;
    display: inline-block;
    padding: 0.8rem 3.5rem;

    //background:linear-gradient(to right, black,rgb(50, 53, 243) ) ;
    background-color: black;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: small;
    margin-top: 0.4rem;
    transition: opacity 200ms ease-in-out;

    box-shadow: inset 0 -3em 6em rgba(0, 0, 0, 0.1),
      0 0 0 0px rgb(255, 255, 255), 0.1em 0.9em 1em rgba(0, 0, 0, 0.3);

    transition: box-shadow 200ms ease-in-out;

    &:hover {
      opacity: 0.85;
      box-shadow: inset 0 -3em 6em rgba(0, 0, 0, 0.4),
        0 0 0 0px rgb(255, 255, 255), 0.1em 1em 2em rgba(0, 0, 0, 0.7);
    }
  }
}

@include breakpoint-down(small) {
  .carousel {
    h3 {
      font-size: 1.5rem;
      padding-left: 1rem;
    }
  }
}
