html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  min-height: 200vh;
  font-family: "Rubik", sans-serif;
  background-color: $Gray h1, h2, h3, h4 {
    margin: 0%;
    padding: 0%;
    font-weight: 300;
    line-height: 1.1;
  }
}

// Flexbox

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-fs {
    justify-content: flex-start;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-e {
    align-items: end;
  }
}

// Button
button,
.button {
  display: inline-block;
  background-color: transparent;
  text-decoration: "none";
  border: 0;

  cursor: pointer;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
