html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;

  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  h1,h2,h3,h4{
    margin: 0px;
    font-weight: 300;
    line-height: 1.15;
    
}

}

// Flexbox

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }
  
    &-jc-fs{
      justify-content: flex-start; 
    }

  &-ai-c {
    align-items: center;
  }

  &-ai-e {
    align-items: end;
  }
}

// Button
button,
.button {
  display: inline-block;
  background-color: transparent;
  text-decoration: "none";
  border: 0;

  cursor: pointer;
}
