.header{

    &__wrapper{
        position: sticky;
        top: 0;
        z-index: 3;
        
    }

    &__navbar{
    
    
        background-color: black;
        color: white;
        min-height: 3rem;
        
        width: 100%;
        
        
    }
    &__wrapper-buttons{
       padding-top: 0.6rem;
       padding-right: 1rem;
    }
    &__buttons{
        color: white;
        padding-right: 2rem;
       
    }
    
    &__select{

        color: white;
        background-color: black;
        outline: none;
        border: 0px;
    }
    &__toggle{ // mobile menu   Toggle
        
        > span{        
            display: block;
            width: 20px;
            height: 3px;
            background-color: white;
            
            
            

            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }

    &__iconCidenet{
    
        background-image: url("../images/iconCidenet.jpg");
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top  ;
        min-height: 1rem;
        background-size: 100%;
        width: 4rem;
        left: 50px;
       
        
    }

    &__wrapper-burgger-menu{
        padding-top: 0.7rem;
        padding-left: 0.6rem;
    }


    
    
}