.header{

    &__navbar{
    
    
        background-color: black;
        color: white;
        height: 3rem;
       
    
    }

    &__select{

        color: white;
        background-color: black;
        outline: none;
        border: 0px;
    }
    &__toggle{ // mobile menu   Toggle
        
        > span{        
            display: block;
            width: 20px;
            height: 3px;
            background-color: white;
            
            
            

            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }

    &__iconCidenet{
    
        background-image: url("../images/iconCidenet.jpg");
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center  ;
        min-height: 1rem;
        background-size: 80%;
        width: 4rem;
        
    }

    
    
}