.hero-{

    background-image: url('../images/hero4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 27% ;
    height: 11.5rem;
    background-size: 100%;
    width: 100%;
    min-height: 9rem;
} 

.hero-masculino{

    background-image: url('../images/CHICOS\ \(1\)_page-0001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20% ;
    height: 11.5rem;
    background-size: 100%;
    width: 100%;
    min-height: 11rem;
    object-fit: contain;
    
    
}
.hero-femenino{

    background-image: url('../images/img11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 7% ;
    height: 11.5rem;
    background-size: 100%;
    width: 100%;
    min-height: 10rem;
    object-fit: contain;
    
    
}