.iconCidenet{
    
    background-image: url("../images/iconCidenet.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center  ;
    min-height: 1rem;
    background-size: 80%;
    width: 4rem;
    
}