.section-products {
  //section products wrapper
  &__wrapper-products {
    background-color: $Gray;
  }

  &__wrapper-input {
    position: relative;
    padding: 5px 0 0;

    width: 50%;
    padding-left: 2rem;
  }
}

@include breakpoint-down(small) {
  .section-products__wrapper-input {
    width: 90%;
  }
}
