// Colors

$Black: hsl(0, 0%, 0%);
$VeryLigthBlue: #F0F3F8;
$Whithe: rgb(255, 255, 255);

// Font-sizes

$font-small: 0.875rem; //14px
$font-med: 1.125rem;    //18px
$font-xlg: 3.25rem;
$font-lg: 1.25 rem; 