html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  min-height: 200vh;
  font-family: "Roboto", sans-serif;
  background-color: #dbd8d8;
}

body h1,
body h2,
body h3,
body h4 {
  margin: 0px;
  font-weight: 300;
  line-height: 1.1;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-e {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

button,
.button {
  display: inline-block;
  background-color: transparent;
  -webkit-text-decoration: "none";
          text-decoration: "none";
  border: 0;
  cursor: pointer;
}

.header__wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.header__navbar {
  background-color: black;
  color: white;
  min-height: 3rem;
  width: 100%;
}

.header__wrapper-buttons {
  padding-top: 0.6rem;
  padding-right: 1rem;
}

.header__buttons {
  color: white;
  padding-right: 2rem;
}

.header__select {
  color: white;
  background-color: black;
  outline: none;
  border: 0px;
}

.header__toggle > span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: white;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__iconCidenet {
  background-image: url("../images/iconCidenet.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 1rem;
  background-size: 100%;
  width: 4rem;
  left: 50px;
}

.header__wrapper-burgger-menu {
  padding-top: 0.7rem;
  padding-left: 0.6rem;
}

.navbarcontainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar {
  background-color: black;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  z-index: 3;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
}

.nav-logo {
  color: yellow;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  text-decoration: none;
  font-size: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  -webkit-transition: width 0.7s ease, background-color 0.5ms ease;
  transition: width 0.7s ease, background-color 0.5ms ease;
}

.nav-item:hover::after {
  width: 100%;
  background-color: yellow;
}

.nav-item .active {
  border-bottom: 1px solid yellow;
}

.nav-icon {
  display: none;
}

.shopping .active {
  line-height: 40px;
  margin-right: 1rem;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.authIcons {
  padding-top: 3rem;
  padding-right: 12rem;
  text-decoration: none;
}

.iconCidenet {
  background-image: url("../images/iconCidenet.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 3rem;
  background-size: 98%;
  width: 5rem;
  left: 5px;
}

.left {
  padding-right: 16rem;
}

@media (min-width: 40em) {
  .hidden-desktop {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .nav-container {
    position: absolute;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 60px;
    left: -110%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .iconCidenet {
    display: none;
  }
  .nav-menu.active {
    background: #000000;
    left: 0px;
    opacity: 0.9;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
  .nav-icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(100%, 60%);
            transform: translate(100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}

.hero- {
  background-image: url("../images/hero4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 27%;
  height: 11.5rem;
  background-size: 100%;
  width: 100%;
  min-height: 9rem;
}

.hero-masculino {
  background-image: url("../images/CHICOS (1)_page-0001.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
  height: 11.5rem;
  background-size: 100%;
  width: 100%;
  min-height: 11rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-femenino {
  background-image: url("../images/img11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 7%;
  height: 11.5rem;
  background-size: 100%;
  width: 100%;
  min-height: 10rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-products__wrapper-products {
  height: auto;
  min-height: 12rem;
  min-width: 10rem;
  background-color: #dbd8d8;
}

.section-products__title {
  display: block;
  margin: 0;
  font-weight: 700;
}

.section-products__wrapper-input {
  position: relative;
  padding: 5px 0 0;
  width: 50%;
  padding-left: 2rem;
}

.section-products__input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1rem;
  color: #020124;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.section-products__input::-webkit-input-placeholder {
  color: transparent;
}

.section-products__input:-ms-input-placeholder {
  color: transparent;
}

.section-products__input::-ms-input-placeholder {
  color: transparent;
}

.section-products__input::placeholder {
  color: transparent;
}

.section-products__input:placeholder-shown ~ .section-products__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.section-products__label {
  font-weight: 500;
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.9rem;
  color: black;
}

.section-products__input:focus {
  padding-bottom: 6px;
  font-weight: 300;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #251f83, black);
     border-image: -webkit-gradient(linear, left top, right top, from(#251f83), to(black));
     border-image: linear-gradient(to right, #251f83, black);
  border-image-slice: 1;
}

.section-products__input:focus ~ .section-products__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.9rem;
  color: black;
  font-weight: 700;
}

.section-products__input:required, .section-products__input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-products__wrapper-items {
  height: 19rem;
  width: 12rem;
  margin: 1.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  border: 1px solid #cccccc;
  border-radius: 15px 15px 10px 10px;
  -webkit-box-shadow: 2px 2px 10px #666;
          box-shadow: 2px 2px 10px #666;
}

.section-products__wrapper-image {
  height: 13rem;
  width: 12rem;
  border-radius: 15px 15px 0px 0px;
}

.section-products__image {
  height: 13rem;
  width: 12rem;
  border-radius: 15px 15px 0px 0px;
}

.section-products__information {
  padding-top: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: larger;
  background-color: #e2dbdb;
  border-radius: 0px 0px 10px 10px;
}

.section-products__button {
  background-color: #d8d6d6;
  margin: 0px;
  padding: 4px;
  border-radius: 20px;
}

.searchBox__wrapperSearch {
  display: none;
  position: absolute;
  right: 50px;
  width: 18rem;
  height: 10rem;
  margin: 0;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
}

.searchBox input {
  border: none;
  outline: none;
  position: relative;
}

.searchBox a {
  color: #b3afaf;
  padding: 0%;
  text-decoration: none;
}

.searchBox p {
  display: block;
}

.searchBox__description {
  padding-left: 1rem;
  width: 90%;
  font-size: 0.875rem;
}

.searchBox__inputSearch {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 50%;
}

.searchBox.is-open {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.item .wrapper {
  height: 17.4rem;
  width: 11rem;
  margin: 1.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  border: 1px solid #cccccc;
  border-radius: 15px 15px 5px 5px;
  padding: 2rem;
  -webkit-box-shadow: 2px 2px 10px #666;
          box-shadow: 2px 2px 10px #666;
  margin-right: 5rem;
}

.item .image {
  height: 12rem;
  width: 11rem;
  border-radius: 15px 15px 0px 0px;
}

.item .information {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: larger;
  background-color: #f0ecec;
}

.item__button {
  background-color: #d8d6d6;
  margin: 0px;
  padding: 4px;
  border-radius: 20px;
}

.footer {
  position: fixed;
  height: 3rem;
}

.footer__wrapperFooter {
  position: fixed;
  background-color: black;
  height: 5rem;
  min-width: 100%;
}

.footer__icon {
  background-image: url("../images/iconCidenet.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 50%;
  padding-left: 2rem;
  min-height: 7rem;
  background-size: 80%;
  width: 4rem;
}

.footer__line > span {
  display: block;
  width: 65rem;
  height: 1px;
  background-color: gray;
  margin-bottom: 2rem;
}

.login__image {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 27%;
  min-height: 14rem;
  background-size: 100%;
  width: 100%;
  height: 10%;
}

.login__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.login__iconCidenet {
  margin-top: 1rem;
  background-image: url("../images/iconCidenet.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 5rem;
  background-size: 100%;
  width: 5rem;
  top: -20px;
  border-radius: 50px;
  background-color: black;
}

.register__wrapper {
  width: 8rem;
  height: 10rem;
}

.register__form {
  border: black solid 1px;
  width: 30rem;
  height: 33rem;
  background-color: white;
}

.register__main {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 20rem;
}

.register__iconCidenet {
  margin-top: 1rem;
  background-image: url("../images/iconCidenet.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 5rem;
  background-size: 100%;
  width: 5rem;
  left: 190px;
  border-radius: 50px;
  background-color: black;
}

.register__input {
  padding-left: 0.5rem;
  margin: 0;
}

.register__cualquiercosa {
  height: 21rem;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 27%;
  min-height: 12rem;
  background-size: 100%;
  width: 100%;
  height: 10%;
}

.register__button {
  width: 8rem;
  padding-right: 5rem;
  margin-left: 9rem;
}

.register__column {
  width: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.itemCarousel {
  padding: 1rem;
}

.itemCarousel__container {
  border-radius: 15px 15px 15px 15px;
  height: 23rem;
  background-color: #e6e6e6;
  width: 13rem;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.itemCarousel .container__image img {
  border-radius: 15px 15px 0px 0px;
  height: 15rem;
  width: 13rem;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}

.itemCarousel .container__image img:hover {
  opacity: 0.75;
}

.itemCarousel .information {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13rem;
}

.itemCarousel .information h4 {
  display: block;
  font-size: medium;
  font-weight: bolder;
  padding-bottom: 0.5rem;
  border: none;
}

.itemCarousel .container__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.itemCarousel .button {
  display: inline-block;
  padding: 0.8rem 3.5rem;
  background-color: black;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.itemCarousel .button:hover {
  opacity: 0.75;
}

.carousel {
  overflow: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.detail-product .button {
  -webkit-box-shadow: 5px 5px 20px #666;
          box-shadow: 5px 5px 20px #666;
}

.detail-product .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detail-product .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-product .container__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-product .description {
  width: 80%;
}

.detail-product img {
  border-radius: 5%;
  -webkit-box-shadow: 2px 2px 10px #666;
          box-shadow: 2px 2px 10px #666;
}

.detail-product .image-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.detail-product .image-title h2 {
  padding-bottom: 1rem;
}

.detail-product .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  padding-left: 2rem;
  width: 45%;
  height: 10%;
  min-height: 15rem;
}

.detail-product .details select {
  height: 1.5rem;
  width: 5rem;
  margin-left: 1rem;
}

.addProduct-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 1.5rem;
  padding-top: 1.7rem;
}

.container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addProduct-btn {
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.updateProductForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.updateProduct-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.updateStockForm h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.updateStockForm .select {
  width: 13rem;
  margin-bottom: 1.4rem;
  margin-top: 1rem;
}

.updateStockForm .input {
  margin-bottom: 2.8rem;
}

.updateStockform-container {
  height: 15rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createStockForm {
  padding: 1rem;
}

.createStockForm h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.createStockForm .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.createStockForm .select {
  margin-bottom: 1.4rem;
  margin-top: 1rem;
  width: 13rem;
}

.createStockForm .input {
  margin-bottom: 2.8rem;
}

.createStockForm-container {
  height: 15rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.updateStock .container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */